ENVIRONMENT=prod

# NOTE: you should only change the port if you are
#       deploying the app manually (without docker)
PORT=80

# Database connection details
# NOTE: if you are using the docker-compose file,
#       value of DB_URL should be set to mongo
#       otherwise it should look something like this:
#       127.0.0.1:2207
MONGO_HOST=mongo
MONGO_DATABASE=hs_auth
MONGO_USER=hs_auth
MONGO_PASSWORD=password123

JWT_SECRET="very secret phrase"
SENDGRID_API_KEY=sumkey
