ENVIRONMENT=prod

# NOTE: you should only change the port if you are
#       deploying the app manually (without docker)
PORT=80

# Database connection details
# NOTE: if you are using the docker-compose file,
#       value of DB_URL should be set to mongo
#       otherwise it should look something like this:
#       127.0.0.1:2207
MONGO_HOST=mongo
MONGO_DATABASE=hs_auth
MONGO_USER=hs_auth
MONGO_PASSWORD=password123

JWT_SECRET="very secret phrase"

# Only required if AppConfig is configured to use SendGrid
# as the email delivery service
SENDGRID_API_KEY=sumkey

# Only required if AppConfig is configured to use SMTP
# as the email delivery service
SMTP_USERNAME=username
SMTP_PASSWORD=password
SMTP_HOST=smtp.service
SMTP_PORT=1111
