# NOTE: these are settings for the intial setup of the
#       mongo instance and any changes made to this file
#       will take effect only when starting a completely
#       clean mongo instance.
#       i.e.: if you had previously started the mongo instance,
#             you must delete the folder "data" (this will wipe the database)
#             and then start the instance for the changes to take effect.
#             If you do not wish to wipe the database, you can make the
#             changes manually through Mongo Express or the mongo CLI

# Database root user credentials
# NOTE: this user should not be used by the app as
#       it has access to all databases on the mongo instance
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root

# The database to be used by the app
MONGO_SERVICE_DATABASE=hs_auth

# Credentials for the user to be used by the app
MONGO_SERVICE_USER_USERNAME=hs_auth
MONGO_SERVICE_USER_PASSWORD=password123
