# mongo admin user
# NOTE: these credentials must match the credentials for
#       the root user in mongo.env
ME_CONFIG_MONGODB_ADMINUSERNAME=root
ME_CONFIG_MONGODB_ADMINPASSWORD=root

# production env settings
# ME_CONFIG_SITE_SSL_ENABLED='true'
# ME_CONFIG_SITE_COOKIESECRET='cookiesecret'
# ME_CONFIG_SITE_SESSIONSECRET='sessionsecret'
