<div class="row justify-content-end">
    <div class="col-lg-1 col-md-2 col-3">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="fas fa-sign-out-alt fa-3x"></i>
            </a>
          </li>
        </ul>
      </div>
</div>
