<div class="col-md-6 col-lg-4">
    <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
            <h4 class="card-title">Personal Information</h4>
        </div>
        <div class="card-body text-center">
            <h2>{{ .Name }}</h2>
            <h3 id="emailText">{{ .Email }}</h3>
        </div>
    </div>
</div>