<!DOCTYPE html>
<html lang="en">

<head>
  {{template "header.gohtml" .Cfg}}
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>

<body>
  <div class="container">
    <div class="container-fluid">
      {{if index .Components "Default:Navbar" }}
        {{template "navbar.gohtml" index .Components "Default:Navbar"}}
      {{end}}
      <div class="row">
        <div class="card mx-auto align-middle w-50">
          <div class="card-header card-header-primary">
            <h2>Email not verified!</h2>
          </div>
          <div class="card-body">
            <h2>Oops!</h2>
            <h4>It looks like you have not yet verified your email!</h4>
            <h4>Look for an email with a verification link in your email box.</h4>
            <h4>Or click <a href="/verifyemail/resend">here</a> to resend the email.</h4>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{{if .Alert}}
{{template "errorNotifier.gohtml" .Alert}}
{{end}}
{{template "cookieDisclaimer.gohtml"}}
</html>
