<!DOCTYPE html>
<html lang="en">

<head>
  {{template "header.gohtml" .Cfg}}
  <link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>

<body>
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="card mx-auto align-middle w-50">
          <div class="card-header card-header-primary">
            <h2>Password Reset Requested!</h2>
          </div>
          <div class="card-body">
            <h2>Success!</h2>
            <h4>You have successfully requested to reset your password!
            An email with further instructions has been sent to {{.Data.Email}}.</h4>
            <h6>Check your spam folder if you can't find the email and if it's not there,
            drop us a message at <a href="mailto:{{.Cfg.Email.HelpEmailAddr}}?Subject=Can't%20reset%20password" target="_top">{{.Cfg.Email.HelpEmailAddr}}</a>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{{template "errorNotifier.gohtml" .Data.Err}}
{{template "cookieDisclaimer.gohtml"}}
</html>
