<!DOCTYPE html>
<html lang="en">

<head>
  {{template "header.gohtml" .Cfg}}
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>

<body>
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="card mx-auto align-middle w-50">
          <div class="card-header card-header-primary">
            <h2>Forgot Password</h2>
          </div>
          <div class="card-body">
            <form action="/forgotpwd" method="post" autocomplete="on">
              <div class="form-group">
                <i for="emailInput" class="fa fa-envelope prefix"></i>
                <input type="email" name="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                  placeholder="Enter your email" required="required">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <div class="text-center">
              <p>Just remembered the password? <a href="/login">Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{{if .Err}}
{{template "errorNotifier.gohtml" .Err}}
{{end}}
{{template "cookieDisclaimer.gohtml"}}
</html>
