<!DOCTYPE html>
<html lang="en">

<head>
  {{template "header.gohtml" .Cfg}}
  <title>HS Auth - Profile</title>
</head>

<body>
  <div class="wrapper">
      <div class="content">
        <div class="container-fluid">
          {{if index .Components "Default:Navbar" }}
            {{template "navbar.gohtml" index .Components "Default:Navbar"}}
          {{end}}
          <div class="row justify-content-center">
            {{if index .Components "Default:PersonalInformationPanel" }}
              {{template "personalInformation.gohtml" index .Components "Default:PersonalInformationPanel"}}
            {{end}}
            {{if .Components.TeamPanel }}
              {{template "teamPanel.gohtml" .Components.TeamPanel}}
            {{end}}
          </div>
          {{if .Components.UsersListPanel }}
            <div class="row justify-content-center">
              {{template "usersList.gohtml" .Components.UsersListPanel}}
            </div>
          {{end}}
        </div>
      </div>
  </div>
</body>
{{if .Alert}}
{{template "errorNotifier.gohtml" .Alert}}
{{end}}
{{template "cookieDisclaimer.gohtml"}}
</html>
