<!DOCTYPE html>
<html lang="en">

<head>
  {{template "header.gohtml" .Cfg}}
  <title>HS Auth - Profile</title>
</head>

<body>
  <div class="wrapper">
      <div class="content">
        <div class="container-fluid">
          {{template "navbar.gohtml" .}}
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <h4 class="card-title">Personal Information</h4>
                </div>
                <div class="card-body text-center">
                  <h2>{{ .Data.User.Name }}</h2>
                  <h3 id="emailText">{{ .Data.User.Email }}</h3>
                </div>
              </div>
            </div>
            {{if lt .Data.User.AuthLevel 4}}
              {{template "teamPanel.gohtml" .}}
            {{end}}
          </div>
          {{if ge .Data.User.AuthLevel 4}}
            <div class="row justify-content-center">
              {{template "usersList.gohtml" .Data}}
            </div>
          {{end}}
        </div>
      </div>
  </div>
</body>
{{if .Err}}
{{template "errorNotifier.gohtml" .Err}}
{{end}}
{{template "cookieDisclaimer.gohtml"}}
</html>
