<!DOCTYPE html>
<html lang="en">

<head>
  {{template "header.gohtml" .Cfg}}
  <link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>

<body>
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="card mx-auto align-middle w-50">
          <div class="card-header card-header-primary">
            <h2>Register</h2>
          </div>
          <div class="card-body">
            <form action="/register" method="post" autocomplete="on">
              <div class="form-group">
                <i for="nameInput" class="fa fa-user prefix"></i>
                <input type="name" name="name" class="form-control" id="nameInput" aria-describedby="nameHelp"
                  placeholder="Name" required="required">
              </div>
              <div class="form-group">
                <i for="emailInput"></i>
                <input type="email" name="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                  placeholder="Email" required="required">
              </div>
              <div class="form-group">
                <i for="passwordInput" class="fa fa-lock prefix"></i>
                <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Password"
                  required="required">
              </div>
              <div class="form-group">
                <i for="passwordConfirmInput"></i>
                <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirmInput" placeholder="Confirm password"
                  required="required">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <div class="text-center">
              <p>Already registered? <a href="/login">Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{{if .Err}}
{{template "errorNotifier.gohtml" .Err}}
{{end}}
{{template "cookieDisclaimer.gohtml"}}
</html>
