<!DOCTYPE html>
<html lang="en">

<head>
  {{template "header.gohtml" .Cfg}}
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>

<body>
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="card mx-auto align-middle w-50">
          <div class="card-header card-header-primary">
            <h2>Reset Password</h2>
          </div>
          <div class="card-body">
            <form action="/resetpwd" method="post" autocomplete="on">
              <div class="form-group">
                <i for="passwordInput" class="fa fa-lock prefix"></i>
                <input type="password" name="password" class="form-control" id="passwordInput"
                  placeholder="New password" required="required">
              </div>
              <div class="form-group">
                <i for="passwordConfirmInput"></i>
                <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirmInput" placeholder="Confirm password"
                  required="required">
              </div>
              <input hidden name="email" value="{{.Data.Email}}"/>
              <input hidden name="token" value="{{.Data.Token}}"/>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <div class="text-center">
              <p>No longer need to reset the password? <a href="/login">Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{{if .Err}}
{{template "errorNotifier.gohtml" .Err}}
{{end}}
{{template "cookieDisclaimer.gohtml"}}
</html>
